/* bootstrap navbar fg-grey:           9A9DA0 */
/* red:                                8B2635 */
/* green-btn:                          0C7C59 */
/* green-bg                            A3B18A */
/* filter-bg                           DCDCDD */

.nav-spacer {  /* Space of navbar */
    margin-top: 70px;
}
.item-count-label {
    display: inline-block;
}
.filter-toggler { /* change button color and space */
    background-color: #8B2635;
    border-color: #8B2635;
}
.store-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#store-filters {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DCDCDD;
}
.submit-group {
    text-align: center;
}

.category {
    font-size: 80%;
}