{% extends "generic.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-white font-weight-light">ОНЛАЙН ХҮРГЭЛТ<br>САНЗАЙН ДЭЛГҮҮРЭЭС.</h1>
        <a href="{{ url_for('store') }}" class="btn btn-success btn-lg" role="button">
            ДЭЛГҮҮР
        </a>
        <a href="#" class="btn btn-secondary btn-lg" role="button">
           ХЭРХЭН&nbsp;<i class="far fa-question-circle"></i>
        </a>
    </div>
</header>
{% endblock %}